.body {
    margin: 10px 10px 10px 0;
    padding: 0;
    text-align: left;
}

.image {
    width: 15px;
    margin-right: 5px;
}


.body a {
    text-decoration: none;
    color: black;
}

.comment {
    color: darkgray;
    margin-left: 5px;
}