.body {
	margin: 10px;
	padding: 0;
}

.weather {
	display: flex;
}

.weather img {
	max-width: 60px;
	max-height: 60px;
}

.temperature {
	font-size: 30px;
}

.temperatureDay {
	font-size: 15px;
	margin-left: 5px;
}